<!DOCTYPE html>
<html>
<head>
    <title><%= title %> | <%= app_name %></title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:100,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <link href="/css/_reboot.css" rel="stylesheet" type="text/css">
    <link href="/css/login.css" rel="stylesheet" type="text/css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1">
    <link rel="manifest" href="/site.webmanifest?v=1">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=1" color="#26a69a">
    <link rel="shortcut icon" href="/favicon.ico?v=1">
    <meta name="apple-mobile-web-app-title" content="<%= app_name %>">
    <meta name="application-name" content="<%= app_name %>">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#26a69a">

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
</head>
<body>

<button id="back_button" onclick="window.location = '/'"><i class="fas fa-chevron-left"></i> Go Back</button>

<div id="error_box">
    <div class="relative_reset">
        <div class="error_box__header">
            <span class="error_box__close_btn"><i class="fas fa-times"></i></span>
        </div>
        <div class="error_box__body"></div>
    </div>
</div>

<div id="login_container">
    <div class="relative_reset">
        <div class="login_container__header">
            <p><%= app_name %></p>
        </div>
        <div class="login_container__body">
            <p>Login<br><span>using your email</span></p>
            <form id="login_form">
                <div class="input_container email_input">
                    <input name="email" type="text">
                    <label for="email">Email</label>
                    <span class="focus-border">
                    	<i></i>
                    </span>
                </div>
                <div class="input_container password_input">
                    <input name="password" type="password">
                    <label for="password">Password</label>
                    <span class="focus-border">
                    	<i></i>
                    </span>
                </div>
                <span class="login_form__input_info">Don't have an account? <a href='/account/register'>Register</a></span>
            </form>
            <button class="login_container__forgot_pass" onclick="window.location='/account/forgot'">Forgot password?</button>
            <button class="login_container__cont_btn" id="next_button">Next <span><i class="fas fa-arrow-right"></i></span></button>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>
</body>
</html>
